body, html {
    overflow: hidden;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
}
.canvas {
    display: flex;
    flex-direction: column;
}
.palette {
    z-index: 10;
}
.toast {
    position: absolute;
    font-size: 14pt;
    padding: 20px;
    border: 1px solid #C1A846;
    background: #F8EBB7;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 2s 5s;
    z-index: 10;
}
.special_file {
	font-style: italic;
}
button.icon span.pyj {
    background-image: url(../activity/activity-icon.svg);
}
button.icon span.folder {
    background-image: url(../icons/folder.svg);
}
button.icon span.document {
    background-image: url(../icons/document-generic.svg);
}
button.icon span.image {
    background-image: url(../icons/image-x-generic.svg);
}
button.icon span.zip {
    background-image: url(../icons/zip-archive.svg);
}
button.icon span.html {
    background-image: url(../icons/text-html.svg);
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
@font-face {
    font-family: "Noto Emoji";
    src: url("../fonts/NotoEmoji.woff") format('woff');
}
