table :first-child {
    display: none;
}
tr :first-child {
    font-size: 18pt;
    display: block;
}
tr :nth-child(2) {
    display: none;
}
td.right {
    padding-left: 80px;
    font-style: bold;
    color: #282828;
    font-size: 9pt;
    font-family: Noto Sans;
}
body {
    background-color: #aaa;
    font-family: Noto Mono;
}
iframe {
    position: fixed;
    right: 15px;
    top: 95px;
    width: 50vw;
    height: 80vh;
    background: #c0c0c0;
}
