body {
	background-color: #808080;
	margin-left: auto;
	margin-right: auto;
}
html {
	padding: 0 20pt;
}
.markdown-body {
	padding: 25px !important;
	margin: 10px auto;
	background-color: lightyellow;
	box-shadow: 6px 6px #333 !important;
	font-family: "Noto Sans", "Roboto Sans", "Droid Sans", "DejaVu Sans";
	font-size: 15pt;
}
td, th {
	background-color: #dfb;
	padding: 25px;
}
table {
	width: 80%;
	margin: 0 auto;
}
